body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background:#f4f6ff;
}

/* ===== FAQ SECTION ===== */
.faq-wrap{
  max-width:830px;
  margin:29px auto;
  padding:0 15px;
}

.faq-title{
  text-align:center;
  font-size:33px;
  font-weight:700;
  color:#6b7cff;
  margin-bottom: 14px;
}

.faq-sub{
  text-align:center;
  color:#777;
  margin-bottom:70px;
  font-size: 17.5px;
}

/* ===== SEARCH ===== */
.faq-search-box{
  position:relative;
  margin-bottom:35px;
}

.faq-search-box input{
  width:100%;
  padding:19px 50px 18px 20px;
  border-radius:25px;
  border:2px solid #ddd;
  outline:none;
  font-size:15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.faq-search-icon{
  position:absolute;
  right:20px;
  top:50%;
  transform:translateY(-50%);
  font-size:18px;
  color:#6b7cff;
}

/* ===== FAQ ITEM ===== */
.faq-item{
  background:linear-gradient(90deg,#6b7cff,#7b4aa8);
  border-radius:7px;
  margin-bottom:10px;
  overflow:hidden;
  cursor:pointer;
  transition:transform 0.3s;
}

.faq-item:hover{
  transform:translateY(-2px);
}

/* ===== QUESTION ===== */
.faq-question{
  color:#fff;
  padding:14px 18px;
  font-size:16px;
  font-weight:600;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.faq-icon{
  font-size:26px;
  transition:transform 0.35s ease;
}

/* ===== ANSWER ===== */
.faq-answer{
  background:#fff;
  max-height:0;
  overflow:hidden;
  transition:max-height 0.45s ease, padding 0.35s ease;
  padding:0 12px;
  font-size: 13px;
}

.faq-answer p,
.faq-answer ul{
  margin:15px 0;
  color:#444;
  line-height:1.7;
}

.faq-answer ul{
  padding-left:20px;
}

/* ===== ACTIVE ===== */
.faq-item.active .faq-answer{
  max-height:600px;
  padding:8px 22px 8px;
}

.faq-item.active .faq-icon{
  transform:rotate(45deg);
}

/* ===== RESPONSIVE ===== */
@media(max-width:600px){
  .faq-title{font-size:26px;}
  .faq-question{font-size:15px;}
}